@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" !important;
}
body {
  font-size: 1rem;
  background-color: black;
  color: white;
  height: 200vh;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
/* ______Navbar______ */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 4rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
body.light .header {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.nav__close {
  display: none;
}

.nav__toggle {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 4rem;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.nav__link {
  color: whitesmoke;
  font-weight: 500;
}

.nav__logo {
  font-size: larger;
  font-weight: 600;
  color: #23ce6b;
  font-size: 1.9rem;
  font-family: "bruno ace";
}

body.light .nav__link {
  color: #212121;
}

#icons {
  color: white;
  background-color: #ff9f0d;
  padding: 2px 20px 1px 20px;
  font-size: 1.5rem;
  border-radius: 20px;
}

#icons:hover {
  background-color: rgba(255, 191, 0, 0.843);
}

#logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* __________ Nav_media Queries ___________ */

@media (min-width: 240px) and (max-width: 840px) {
  .nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header {
    backdrop-filter: none;
    background-color: #212121;
  }
  body.light .header {
    backdrop-filter: none;
    background-color: #ffffff;
  }
  .nav__toggle,
  .nav__close {
    width: 32px;
    height: 32px;
    display: grid;
    border: 2px solid white;
    place-items: center;
    border-radius: 50%;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgb(97, 97, 97, 0.6);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    height: 100%;
    width: 50%;
    padding: 7rem 3.5rem 3.5rem;
    transition: right 0.5s;
    z-index: 999;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  .nav__close {
    position: absolute;
    top: 0.8rem;
    right: 1.5rem;
  }

  .show-menu {
    right: 0;
  }
}
@media (min-width: 240px) and (max-width: 890px) {
  #icons {
    display: none;
  }
}

@media (min-width: 207px) and (max-width: 422px) {
  .nav__menu {
    padding: 7rem 2rem 3rem;
    width: 70%;
  }
}

/*_____Home_____ */

#home {
  height: 120vh;
  margin-top: 120px;
}
#home_content {
  display: flex;
  justify-content: space-between;
}
#home_img img {
  width: 400px;
  margin-top: 40px;
  margin-right: 70px;
}
.text {
  margin-left: 100px;
  margin-top: 100px;
}
.heading_home {
  font-size: 2.9rem;
  font-weight: 700;
}
.btn {
  background-color: rgba(128, 128, 128, 0.382);
  border: 1px solid rgba(128, 128, 128, 0.56);
  border-radius: 50px;
  padding: 10px;
  width: 170px;
  color: #ff9f0d;
  font-weight: 500;
  margin-top: 30px;
  padding-right: 25px;
  padding-left: 12px;
}
.btn:hover {
  background-color: rgba(128, 128, 128, 0.139);
}
#home a {
  color: #ff9f0d;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 50px;
}
#box {
  display: flex;
}
.box {
  background-color: #1e1e1f;
  padding: 30px 90px;
  margin-top: 80px;
  text-align: center;
  border: 2px solid #1e1e1f;
  border-radius: 30px;
  margin-left: 70px;
}
.box img {
  width: 35px;
}

/*_______about________ */

#about {
  display: flex;
  height: 150vh;
  justify-content: space-between;
  align-items: center;
}
#about img {
  width: 420px;
  margin-left: 30px;
  margin-right: 60px;
}
#about h1 {
  font-size: 2rem;
}
#about p {
  font-size: 0.9rem;
  margin-top: 14px;
  margin-right: 40px;
}
/*_____Shop____ */

#shop {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}
.color {
  color: #ff9f0d;
  text-align: center;
  margin-bottom: 10px;
}
.color-1 {
  text-align: center;
  margin-bottom: 90px;
  font-size: 1.9rem;
}

#shop img {
  width: 160px;
}
#shop h1 {
  color: #ff9f0d;
  text-align: center;
}
.shop {
  /* background-color: #1e1e1f; */
  padding: 52px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  height: 400px;
}
.shop:hover {
  background-color: #1e1e1f;
}
.shop p,
.shop h3 {
  text-align: center;
}
#btn {
  background-color: rgb(0, 0, 0);
  color: #ff9f0d;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 30px;
  margin-left: 40px;
}
#btn:hover {
  color: red;
}
.btn-1 {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.382);
  border: 1px solid rgba(128, 128, 128, 0.56);
  border-radius: 15px;
  padding: 5px;
  color: #ff9f0d;
  font-weight: 500;
  padding-right: 25px;
  padding-left: 12px;
  margin-bottom: 40px;
}
/*_______Customer________ */
#customer {
  height: 70vh;
  display: flex;
  justify-content: space-around;
}
#customer div {
  height: 240px;
}
.box-1 {
  background-color: #1e1e1f;
  border-radius: 20px;
  padding: 20px;
  width: 330px;
}
.img_customer {
  margin-left: 10px;
  height: 60px;
  border-radius: 50%;
  width: 60px;
  margin-top: 20px;
}
.relate {
  position: relative;
  bottom: 60px;
  margin-left: 80px;
}
.star {
  width: 100px;
  margin-bottom: 10px;
  margin-left: 5px;
}

/*____Scroll bar______ */

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff9f0d;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #212121;
  border-radius: 10px;
}
/* ______contact________ */
#contact {
  height: 80vh;
}
#img-1 {
  position: relative;
  left: 50vw;
  width: 180px;
}
#img-2 {
  position: relative;
  left: 18vw;
  width: 180px;
}
.head {
  text-align: center;
  font-size: 2rem;
  margin-top: 60px;
}
#contact p {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
#links {
  text-align: center;
}
#links i {
  margin-top: 50px;
  font-size: 2rem;
  padding: 20px;
  gap: 2rem;
  cursor: pointer;
}
#links i:hover {
  color: #ff9f0d;
}
.foot {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.foot img {
  width: 30px;
}
.text {
  text-align: center;
}
